.DS_Store
.atom/
.idea/
.vscode/

.packages
.pub/
.dart_tool/
packages/**/pubspec.lock
flutter_export_environment.sh
coverage/
packages/shared_preferences_annotation/.flutter-plugins

packages/shared_preferences_annotation/.flutter-plugins-dependencies
